USE [master]
GO
/****** Object:  Database [EPE_New]    Script Date: 29/04/2024 10:17:22 am ******/
CREATE DATABASE [EPE_New]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EPE_New', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EPE_New.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EPE_New_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EPE_New_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPE_New].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPE_New]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 29/04/2024 10:17:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[dep_id] [int] IDENTITY(1,1) NOT NULL,
	[Department_name] [varchar](255) NOT NULL,
	[status_id] [int] NOT NULL,
	[manufactured] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[dep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 29/04/2024 10:17:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Empl_id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[Full_name] [varchar](255) NOT NULL,
	[Department_id] [int] NOT NULL,
	[Designation_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Empl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupEmployee]    Script Date: 29/04/2024 10:17:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupEmployee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Group_id] [int] NOT NULL,
	[Employee_id] [int] NOT NULL,
	[DateJoined] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 29/04/2024 10:17:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Department_id] [int] NOT NULL,
	[Supervisor_id] [int] NULL,
	[DateCreated] [date] NOT NULL,
	[Status_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookUpTable]    Script Date: 29/04/2024 10:17:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpTable](
	[LookUp_ID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [varchar](255) NOT NULL,
	[Category] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LookUp_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 29/04/2024 10:17:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Username] [varchar](50) NOT NULL,
	[Address] [text] NULL,
	[Region] [varchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[CNIC] [varchar](50) NULL,
	[Status] [int] NULL,
	[FatherName] [varchar](255) NULL,
	[Gender] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supervisor]    Script Date: 29/04/2024 10:17:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supervisor](
	[Supervisor_id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Supervisor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([dep_id], [Department_name], [status_id], [manufactured]) VALUES (2, N'IT', 3, CAST(N'2023-01-01' AS Date))
INSERT [dbo].[Department] ([dep_id], [Department_name], [status_id], [manufactured]) VALUES (3, N'Marketing', 3, CAST(N'2022-07-15' AS Date))
INSERT [dbo].[Department] ([dep_id], [Department_name], [status_id], [manufactured]) VALUES (4, N'Sales', 3, CAST(N'2021-06-30' AS Date))
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Empl_id], [User_id], [Full_name], [Department_id], [Designation_id]) VALUES (1, 119, N'Morgana Bussey', 2, 5)
INSERT [dbo].[Employee] ([Empl_id], [User_id], [Full_name], [Department_id], [Designation_id]) VALUES (2, 489, N'Novelia Doniso', 2, 5)
INSERT [dbo].[Employee] ([Empl_id], [User_id], [Full_name], [Department_id], [Designation_id]) VALUES (3, 3, N'Cecily Slott', 2, 10)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupEmployee] ON 

INSERT [dbo].[GroupEmployee] ([id], [Group_id], [Employee_id], [DateJoined]) VALUES (46, 1, 12, CAST(N'2024-04-27' AS Date))
INSERT [dbo].[GroupEmployee] ([id], [Group_id], [Employee_id], [DateJoined]) VALUES (47, 1, 152, CAST(N'2024-04-27' AS Date))
INSERT [dbo].[GroupEmployee] ([id], [Group_id], [Employee_id], [DateJoined]) VALUES (48, 1, 180, CAST(N'2024-04-27' AS Date))
GO
SET IDENTITY_INSERT [dbo].[GroupEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([id], [Name], [Department_id], [Supervisor_id], [DateCreated], [Status_id]) VALUES (1, N'ML Team', 2, 2, CAST(N'2024-04-27' AS Date), 3)
INSERT [dbo].[Groups] ([id], [Name], [Department_id], [Supervisor_id], [DateCreated], [Status_id]) VALUES (2, N'Marketing Team', 4, 7, CAST(N'2024-04-27' AS Date), 3)
INSERT [dbo].[Groups] ([id], [Name], [Department_id], [Supervisor_id], [DateCreated], [Status_id]) VALUES (4, N'Development Team', 2, 14, CAST(N'2024-04-27' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[LookUpTable] ON 

INSERT [dbo].[LookUpTable] ([LookUp_ID], [Value], [Category]) VALUES (1, N'Male', N'Gender')
INSERT [dbo].[LookUpTable] ([LookUp_ID], [Value], [Category]) VALUES (2, N'Female', N'Gender')
INSERT [dbo].[LookUpTable] ([LookUp_ID], [Value], [Category]) VALUES (3, N'Active', N'Status')
SET IDENTITY_INSERT [dbo].[LookUpTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([id], [Email], [PhoneNumber], [Username], [Address], [Region], [DateOfBirth], [CNIC], [Status], [FatherName], [Gender]) VALUES (1, N'bcalderon0@blogtalkradio.com', N'415-640-1667', N'bcalderon0', N'PO Box 38386', N'Szydlowo', CAST(N'2003-12-08' AS Date), N'3520254591069', 3, N'Benedick Calderon', N'2')
INSERT [dbo].[Person] ([id], [Email], [PhoneNumber], [Username], [Address], [Region], [DateOfBirth], [CNIC], [Status], [FatherName], [Gender]) VALUES (2, N'caaronson1@purevolume.com', N'507-300-2038', N'caaronson1', N'PO Box 38623', N'Orsay', CAST(N'2005-04-18' AS Date), N'3520280895318', 3, N'Carolynn Aaronson', N'1')
INSERT [dbo].[Person] ([id], [Email], [PhoneNumber], [Username], [Address], [Region], [DateOfBirth], [CNIC], [Status], [FatherName], [Gender]) VALUES (3, N'alewsey2@dell.com', N'712-729-8834', N'alewsey2', N'Apt 596', N'Xieshui', CAST(N'1993-11-26' AS Date), N'3520297769834', 4, N'Al Lewsey', N'2')
GO
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Supervisor] ON 

INSERT [dbo].[Supervisor] ([Supervisor_id], [Employee_id]) VALUES (1, 332)
INSERT [dbo].[Supervisor] ([Supervisor_id], [Employee_id]) VALUES (2, 403)
INSERT [dbo].[Supervisor] ([Supervisor_id], [Employee_id]) VALUES (3, 269)
SET IDENTITY_INSERT [dbo].[Supervisor] OFF
GO
/****** Object:  Index [UQ__Employee__206A9DF973159CB8]    Script Date: 29/04/2024 10:17:24 am ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Person__536C85E484A4395E]    Script Date: 29/04/2024 10:17:24 am ******/
ALTER TABLE [dbo].[Person] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Person__85FB4E3808CBB5CB]    Script Date: 29/04/2024 10:17:24 am ******/
ALTER TABLE [dbo].[Person] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Person__A9D10534CE5F08C4]    Script Date: 29/04/2024 10:17:24 am ******/
ALTER TABLE [dbo].[Person] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Person__AA570FD4CBF9DDDD]    Script Date: 29/04/2024 10:17:24 am ******/
ALTER TABLE [dbo].[Person] ADD UNIQUE NONCLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((1)) FOR [Status_id]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Designation_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Designation_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Designation_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([Designation_id])
REFERENCES [dbo].[LookUpTable] ([LookUp_ID])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Person] ([id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Person] ([id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Person] ([id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[Person] ([id])
GO
ALTER TABLE [dbo].[GroupEmployee]  WITH CHECK ADD FOREIGN KEY([Group_id])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[GroupEmployee]  WITH CHECK ADD FOREIGN KEY([Group_id])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[GroupEmployee]  WITH CHECK ADD FOREIGN KEY([Group_id])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[GroupEmployee]  WITH CHECK ADD FOREIGN KEY([Group_id])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Department_id])
REFERENCES [dbo].[Department] ([dep_id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Supervisor_id])
REFERENCES [dbo].[Supervisor] ([Supervisor_id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Supervisor_id])
REFERENCES [dbo].[Supervisor] ([Supervisor_id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Supervisor_id])
REFERENCES [dbo].[Supervisor] ([Supervisor_id])
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD FOREIGN KEY([Supervisor_id])
REFERENCES [dbo].[Supervisor] ([Supervisor_id])
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Empl_id])
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Empl_id])
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Empl_id])
GO
ALTER TABLE [dbo].[Supervisor]  WITH CHECK ADD FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Empl_id])
GO
USE [master]
GO
