@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");

:root {
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(273, 11%, 58%);
  --darker-cyan: hsl(0, 0%, 42%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --monserrat: "Montserrat", sans-serif;
  --fraunces: "Fraunces", serif;
}

* {
  margin: 0;
  padding: 0;
}



image {
  display: block;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

/* Main Container */
main {
  background-color: var(--white);
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
  object-fit: contain;
  width: 80%;
  height: auto;
  max-width: 90%;
 
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5%;
  border-radius: 15px;
}

.image-container {
  background-position: center;
  background-size: cover;
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 15px 0 0 15px;
  background-repeat: no-repeat;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.4rem;
}

h1 {
  font-family: var(--monserrat);
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.7rem;
  color: var(--dark-grayish-blue);
}

h2 {
  font-family: var(--fraunces);
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: 700;
}

.info-section p {
  font-family: var(--monserrat);
  font-weight: lighter;
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
  line-height: 1.4rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.pricing p {
  color: var(--dark-cyan);
  font-family: var(--fraunces);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
  margin-top: 1rem;
  font-weight: 700;
}

.pricing p span {
  font-family: var(--monserrat);
  font-weight: lighter;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-size: 0.8rem;
}

button {
  cursor: pointer;
  border: 1px solid var(--dark-cyan);
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: var(--monserrat);
  font-weight: 700;
  border-radius: 10px;
  padding: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all ease-in-out 0.2s;
}

@media (hover: hover) {
  button:hover {
    transition: all ease-in-out 0.2s;
    background-color: var(--darker-cyan);
  }
}

@media screen and (max-width: 650px) {
  main {
    margin-top: 10%;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 1fr;
    height: 100%;
  }

  .image-container {
    border-radius: 15px 15px 0 0;
  }
}